@use "sass:color";
@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

// Colors
$cyan-600: hsl(192, 37%, 48%);
$cyan-300: hsl(192, 90%, 77%);

$purple-600: hsl(268, 34%, 53%);
$purple-300: hsl(268, 100%, 86%);

$slate-900: hsl(240, 21%, 20%);
$slate-600: hsl(240, 10%, 57%);
$slate-300: hsl(240, 18%, 85%);

$white: hsl(0, 0%, 98%);

// Spacing
$spacing-1400: 112px;
$spacing-1000: 80px;
$spacing-900: 72px;
$spacing-800: 64px;
$spacing-700: 56px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-100: 8px;
$spacing-50: 4px;

//Typography
$primary-font: 'Red Hat Display', sans-serif;
$weight-black: 900;
$weight-medium: 500;

%text-preset-1 {
    font-family: $primary-font;
    font-size: $spacing-800;
    font-weight: $weight-black;
    line-height: 110%;
    letter-spacing: 0px;
    color: $slate-900;
}

%text-preset-2 {
    @extend %text-preset-1;
    font-size: $spacing-500;
}

%text-preset-3 {
    @extend %text-preset-1;
    font-size: $spacing-200;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $cyan-600;
}

%text-preset-4 {
    @extend %text-preset-1;
    font-size: 18px;
    font-weight: $weight-medium;
    color: $slate-600;
    line-height: 150%;
}

%text-preset-5 {
    @extend %text-preset-1;
    font-size: $spacing-200;
    line-height: 150%;
}

%flex-column-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: $white;
}

h2 {
    @extend %text-preset-2;
}

p {
    @extend %text-preset-4;
}

button {
    padding: $spacing-200 $spacing-500;
    border-radius: 29px;
    border: none;

    @extend %text-preset-5;
    color: $white;
    transition: all .2s;
}

footer {
    @extend %flex-column-centered;
    background: linear-gradient(color.change($cyan-600, $alpha: 0.8), color.change($cyan-600, $alpha: 0.8)), url("assets/desktop/image-footer.jpg") center top;
    background-size: cover;
    padding-left: $spacing-1000;
    padding-right: $spacing-1000;
    margin-top: ($spacing-1000 + calc($spacing-700/2));

    .step {
        margin-top: -($spacing-1000 + calc($spacing-700/2));
    }
}

.button__purple {
    background-color: $purple-600;

    &:hover {
        background-color: color.change($purple-600, $saturation: 55%, $lightness: 71%);
    }

    .version {
        color: $purple-300;
    }
}

.button__cyan {
    background-color: $cyan-600;

    &:hover {
        background-color: color.change($cyan-600, $saturation: 54%, $lightness: 64%);
    }

    .version {
        color: $cyan-300;
    }
}

.subhead {
    @extend %text-preset-3;
}

.step {
    @extend %flex-column-centered;

    .step__number {
        @extend %flex-column-centered;

        border: 1px solid $slate-300;
        border-radius: 999px;
        height: $spacing-700;
        width: $spacing-700;
        background-color: $white;
        
        @extend %text-preset-5;
        text-align: center;
        color: $slate-600;
    }
    .step__line {
        height: $spacing-1000;
        width: 1px;
        background-color: $slate-300;
    }
}

.featured-photos {
    display: flex;
    gap: $spacing-400;

    img {
        height: 256px;
        width: 256px;
        border-radius: $spacing-100;
    }
}

#logo {
    display: flex;
    width: 100%;

    img {
        margin: 83px auto 0px auto;
    }
}

#hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $spacing-800;

    h1 {
        @extend %text-preset-1;
    }

    #buttons {
        display: flex;
        gap: $spacing-200;
    }

    #hero__img-left {
        margin-left: -$spacing-300;
    }

    #hero__content {
        @extend %flex-column-centered;
        gap: $spacing-400;
        max-width: 450px;
    }

    #hero__img-right {
        margin-right: -$spacing-300;
    }

}

#about {
    @extend %flex-column-centered;
    padding: $spacing-1000 $spacing-1400;
    gap: $spacing-800;

    .step {
        margin-top: $spacing-700;
    }
}

#about__content {
    @extend %flex-column-centered;
    gap: $spacing-400;
    max-width: 545px;

    header {
        @extend %flex-column-centered;
        gap: $spacing-200;
        max-width: 445px;
    } 
}

#footer__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    gap: $spacing-400;
    padding: $spacing-1000 $spacing-1400;
    
    h2 {
        color: $white;
        width: 33%;
    }

    p {
        color: $white;
        width: 33%;
    }
}

@media screen and (max-width: 768px) {

    footer {
        padding: 0;
    }

    .featured-photos {
        gap: $spacing-300;

        img {
            width: 152px;
            height: 152px; 
        }
       
    }

    #logo {
    
        img {
            margin: 51px auto 2px auto;
        }
    }

    #hero {
        flex-direction: column;
        gap: 0;
    }

    #hero__img-right {
        display: none;
    }

    #hero__content {
        padding: $spacing-900 0 $spacing-800 0;
    }

    #about {
        padding-top: 0;
    }

    #footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $spacing-800 $spacing-1400;
        margin-top: -1 * calc($spacing-700 / 2);

        h2 {
            width: auto;
        }
        p {
            width: auto;
        }
    }

}