@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

// Colors
$cyan-600: hsl(192, 37%, 48%);
$cyan-300: hsl(192, 90%, 77%);

$purple-600: hsl(268, 34%, 53%);
$purple-300: hsl(268, 100%, 86%);

$slate-900: hsl(240, 21%, 20%);
$slate-600: hsl(240, 10%, 57%);
$slate-300: hsl(240, 18%, 85%);

$white: hsl(0, 0%, 98%);

//Typography
$primary-font: 'Red Hat Display', sans-serif;
$weight-black: 900;
$weight-medium: 500;

// Spacing
$spacing-1400: 112px;
$spacing-1000: 80px;
$spacing-900: 72px;
$spacing-800: 64px;
$spacing-700: 56px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-100: 8px;
$spacing-50: 4px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

#logo {
    display: flex;
    width: 100%;

    img {
        margin: 0 auto;
    }
}

#hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-number {
    align-self: center;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-photos {
    display: flex;
    gap: $spacing-400;

    img {
        height: 256px;
        width: 256px;
        border-radius: $spacing-100;
    }
}

footer {
    display: flex;
    text-align: left;
}